* {
    box-sizing: border-box   
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:grey
}

main{
    background-color: red;
    height: 270px;
    font-family: Arial;
    color: white;
    border-radius: 15px;
    width: 380px;
}


section {
    height: 115px;
    font-size: 3em;
    background-color: white;
    color:black;
    font-family: 'Dancing Script', cursive;
    
}

p{
  margin: 0px;
}

.hello{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 600;

}

.my-name-is{
    font-size: 2em;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}